<div class="nav-top">
  <div class="nav-top-wrapper">
    <div class="nav-top-info">
      <div class="nav-top-text">
        Call us: +91 12345 67890
      </div>
      <div class="nav-top-mail">
        Email: <a href="#" class="link-text">abc@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="nav-top-social">
    <a href="#" target="_blank" class="social-link">
      <img src="../../../assets/img/twitter-icon-white.svg" alt="">
    </a>
    <a href="#" target="_blank" class="social-link">
      <img src="../../../assets/img/facebook-icon-white.svg" alt="">
    </a>
    <a href="#" target="_blank" class="social-link">
      <img src="../../../assets/img/instagram-icon-white.svg" alt="">
    </a>
    <a href="#" target="_blank" class="social-link">
      <img src="../../../assets/img/pinterest-icon-white.svg" alt="">
    </a>
    <a href="#" target="_blank" class="social-link">
      <img src="../../../assets/img/youtube-icon.svg" alt="">
    </a>
  </div>
</div>
<div class="nav-main">

</div>
