<div class="footer-section">
  <div class="footer-section-wrapper">
    <div class="footer">
      <div class="footer-left">
        <a href="#" class="footer-brand">
          <div>ToyStore</div>
        </a>
      </div>
      <div class="footer-nav">
        <a href="#" class="footer-link">Home</a>
        <a href="#" class="footer-link">Catalog</a>
        <a href="#" class="footer-link">Delivery</a>
        <a href="#" class="footer-link">About</a>
        <a href="#" class="footer-link">Contacts</a>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank" class="footer-social-link">
          <img src="../../../assets/img/twitter-icon-white.svg" alt="">
        </a>
        <a href="#" target="_blank" class="footer-social-link">
          <img src="../../../assets/img/facebook-icon-white.svg" alt="">
        </a>
        <a href="#" target="_blank" class="footer-social-link">
          <img src="../../../assets/img/instagram-icon-white.svg" alt="">
        </a>
        <a href="#" target="_blank" class="footer-social-link">
          <img src="../../../assets/img/pinterest-icon-white.svg" alt="">
        </a>
        <a href="#" target="_blank" class="footer-social-link">
          <img src="../../../assets/img/youtube-icon.svg" alt="">
        </a>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-left">
          <div>
            Created with love by :
            <a href="https://github.com/SouradeepSarkar77" target="_blank" class="link-white">Souradeep Sarkar</a>
          </div>
        </div>
        <div class="footer-bottom-right">

        </div>
      </div>
    </div>
  </div>
</div>
