<div class="nav-main">
  <div class="nav-bar-wrapper">
    <a href="#" class="brand">
      <div>ToyStore</div>
    </a>
    <div class="navigation">
      <nav class="nav-menu">
        <a href="#" class="nav-link">Catalog</a>
        <a href="#" class="nav-link">Delivery</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>
      <div class="cart-wrapper">
        <a href="#" class="cart-button">
          <div class="inline-block">Cart</div>
          <img src="../../../assets/img/cart-icon.svg" alt="">
          <div class="item-count">0</div>
        </a>
      </div>
    </div>
  </div>
</div>
